@font-face {
  font-family: "WhitehallCyr";
  src: url("../fonts/WhitehallCyr.eot");
  src: url("../fonts/WhitehallCyr.eot?#iefix") format("embedded-opentype"),
    url("../fonts/WhitehallCyr.woff2") format("woff2"),
    url("../fonts/WhitehallCyr.woff") format("woff"),
    url("../fonts/WhitehallCyr.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
